.DS_Store


# IntelliJ
.idea/*
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/vcs.xml
!.idea/modules.xml
!.idea/*.iml


# Yarn, NPM & Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.yarn-integrity
node_modules/
jspm_packages/
*.tgz
.nyc_output

.eslintcache
.node_repl_history
.env

**/.var/www/**
